export(DSPRpeaks)
export(DSPRperm)
export(DSPRscan)
export(entropy.pos)
export(findCI)
export(findQTL)
export(founderNs)
export(geno.means)
export(LocalInt)
export(perct.var)
S3method(print,peaks)
S3method(print,pt)
